@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <style>
        body {
            background-image: url("./css/Assassin-s-Creed-black-background_1440x900.jpg");
            background-size: cover; /* Ajusta el tamaño de la imagen al tamaño del cuerpo de la página */
                  background-position: center; /* Centra la imagen horizontal y verticalmente */
                  background-repeat: no-repeat; /* Evita que la imagen se repita en el fondo */
        }
    </style>
</head>
<div class="text-center">
    <h1 class="display-4">Super Store Kevin</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
   
</div>